# Environments
.env
.env.local
.env.development

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python (Virtual Environments)
.venv/
venv/
env/

# Build outputs
frontend/dist/
backend/build/